<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalles de cliente</title>
</head>
<body>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Cliente</title>
    <style>
        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }

    </style>
</head>
<body>

<div id="contenedora" style="float:none; margin: 0 auto;width: 900px;" >
    <div class="clearfix">
        <div style="float: left; width: 50%">
            <h1>Detalle Cliente</h1>
        </div>
        <div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">

            <div style="position: absolute; left: 39%; top : 39%;">

                <form action="/clientes" >
                    <input type="submit" value="Volver" />
                </form>
            </div>

        </div>
    </div>

    <div class="clearfix">
        <hr/>
    </div>

    <div style="margin-top: 6px;" class="clearfix">
        <div style="float: left;width: 50%">
            <label>Código</label>
        </div>
        <div style="float: none;width: auto;overflow: hidden;">
            <input th:value="${cliente.id}" value="id" readonly="readonly"/>
        </div>
    </div>
    <div style="margin-top: 6px;" class="clearfix">
        <div style="float: left;width: 50%">
            <label>Nombre</label>
        </div>
        <div style="float: none;width: auto;overflow: hidden;">
            <input th:value="${cliente.nombre}" value="nombre" readonly="readonly"/>
        </div>
    </div>
    <div style="margin-top: 6px;" class="clearfix">
        <div style="float: left;width: 50%">
            <label>Apellido 1</label>
        </div>
        <div style="float: none;width: auto;overflow: hidden;">
            <input th:value="${cliente.apellido1}" value="apellido1" readonly="readonly"/>
        </div>
    </div>
    <div style="margin-top: 6px;" class="clearfix">
        <div style="float: left;width: 50%">
            <label>Apellido 2</label>
        </div>
        <div style="float: none;width: auto;overflow: hidden;">
            <input th:value="${cliente.apellido2}" value="apellido2" readonly="readonly"/>
        </div>
    </div>
    <div style="margin-top: 6px;" class="clearfix">
        <div style="float: left;width: 50%">
            <label>Comisión</label>
        </div>
        <div style="float: none;width: auto;overflow: hidden;">
            <input th:value="${cliente.ciudad}" value="ciudad" readonly="readonly"/>
        </div>
    </div>
    <div style="margin-top: 6px;" class="clearfix">
        <div style="float: left;width: 50%">
            <label>Categoría</label>
        </div>
        <div style="float: none;width: auto;overflow: hidden;">
            <input th:value="${cliente.categoria}" value="categoria" readonly="readonly"/>
        </div>
    </div>
    <div style="margin-top: 30px;">
        <h3>Comerciales que han atendido a este cliente</h3>
        <table border="1" style="width: 100%; border-collapse: collapse;">
            <thead>
            <tr style="background-color: #f2f2f2;">
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Número de Pedidos realizados</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comercial : ${cliente.listaComerciales}">
                <td th:text="${comercial.nombre}"></td>
                <td th:text="${comercial.apellido1 + ' ' + (comercial.apellido2 ?: '')}"></td>
                <td th:text="${#numbers.formatInteger(comercial.totalPedidos, 0)}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>
</body>
</html>