<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Cliente</title>
    <style>
        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }
    </style>
</head>
<body>

<div id="contenedora" style="float:none; margin: 0 auto;width: 900px;" >
    <form  th:action="@{/clientes/editar/__${cliente.id}__}" th:object="${cliente}" method="post" >
        <div class="clearfix">
            <div style="float: left; width: 50%">
                <h1>Editar Cliente</h1>
            </div>
            <div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">
                <div style="position: absolute; left: 39%; top : 39%;">
                    <input type="submit" value="Guardar" />
                </div>
            </div>
        </div>

        <div class="clearfix">
            <hr/>
        </div>

        <div style="margin-top: 6px;" class="clearfix">
            <div style="float: left;width: 50%">
                <label for="id">ID</label>
            </div>
            <div style="float: none;width: auto;overflow: hidden;">
                <input id="id" th:field="*{id}" readonly="readonly"/>
            </div>
        </div>

        <div style="margin-top: 6px;" class="clearfix">
            <div style="float: left;width: 50%">
                <label for="nombre">Nombre</label>
            </div>
            <div style="float: none;width: auto;overflow: hidden;">
                <input id="nombre" th:field="*{nombre}"/>
                <ul th:if="${#fields.hasErrors('nombre')}">
                    <li th:each="err : ${#fields.errors('nombre')}" th:text="${err}" class="error" />
                </ul>
            </div>
        </div>

        <div style="margin-top: 6px;" class="clearfix">
            <div style="float: left;width: 50%">
                <label for="apellido1">Apellido 1</label>
            </div>
            <div style="float: none;width: auto;overflow: hidden;">
                <input id="apellido1" th:field="*{apellido1}"/>
                <ul th:if="${#fields.hasErrors('apellido1')}">
                    <li th:each="err : ${#fields.errors('apellido1')}" th:text="${err}" class="error" />
                </ul>
            </div>
        </div>

        <div style="margin-top: 6px;" class="clearfix">
            <div style="float: left;width: 50%">
                <label for="apellido2">Apellido 2</label>
            </div>
            <div style="float: none;width: auto;overflow: hidden;">
                <input id="apellido2" th:field="*{apellido2}"/>
                <ul th:if="${#fields.hasErrors('apellido2')}">
                    <li th:each="err : ${#fields.errors('apellido2')}" th:text="${err}" class="error" />
                </ul>
            </div>
        </div>

        <div style="margin-top: 6px;" class="clearfix">
            <div style="float: left;width: 50%">
                <label for="ciudad">Ciudad</label>
            </div>
            <div style="float: none;width: auto;overflow: hidden;">
                <input id="ciudad" th:field="*{ciudad}"/>
                <ul th:if="${#fields.hasErrors('ciudad')}">
                    <li th:each="err : ${#fields.errors('ciudad')}" th:text="${err}" class="error" />
                </ul>
            </div>
        </div>

        <div style="margin-top: 6px;" class="clearfix">
            <div style="float: left;width: 50%">
                <label for="categoria">Categoria</label>
            </div>
            <div style="float: none;width: auto;overflow: hidden;">
                <input id="categoria" th:field="*{categoria}"/>
                <ul th:if="${#fields.hasErrors('categoria')}">
                    <li th:each="err : ${#fields.errors('categoria')}" th:text="${err}" class="error" />
                </ul>
            </div>
        </div>

        <div style="margin-top: 6px;" class="clearfix">
            <div style="float: left;width: 50%">
                <label for="mail">mail</label>
            </div>
            <div style="float: none;width: auto;overflow: hidden;">
                <input id="mail" th:field="*{email}"/>
                <ul th:if="${#fields.hasErrors('email')}">
                    <li th:each="err : ${#fields.errors('email')}" th:text="${err}" class="error" />
                </ul>
            </div>
        </div>

    </form>
</div>

</body>
</html>