<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error en la Aplicación</title>
</head>
<body>
<div>
    <h1>¡Ups! Algo ha salido mal</h1>
    <p th:text="${errorMessage}">Ha ocurrido un error inesperado.</p>

    <div class="details">
        <p><strong>Detalles del error:</strong></p>
        <p th:text="${exception} != null ? ${exception.message} : 'Sin detalles'"></p>
    </div>

    <br>
    <a href="/" th:href="@{/}">Volver al Inicio</a>
</div>
</body>
</html>